body {
	background-image: url(../image/img4.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.container {
	position: absolute;
	width: 50%;
	height: 50%;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: snow;
}

.h1 {
	font-family: 'Oswald', sans-serif;
	font-size:48pt;
	padding: 12px;
	margin: 0;
}

p {
	font-family: 'Gruppo', cursive;
	font-size: 10pt;
	padding: 8px;
	margin: 0;
	text-align: justify;
	line-height: 1.3;
	word-spacing: 1.2px;
}

.btn1 {
	background-color: transparent;
	padding: 18px 48px;
	margin: 24px;
	transition: 0.3s;
	border: 1px solid snow;
	display: inline-block;
	text-decoration: none;
	color: snow;
	font-family: 'Gruppo', cursive;
}

.btn1:hover {
	border: 1px solid #E0E0E0;
	background-color: #E0E0E0;
	color: black;
}