body {
    margin: 0;
    background-color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14pt;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: gray;
    text-align: justify;
}

.header,
.footer {
    background-color: black;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.header li {
    float: right;
}

.header li a,
.footer li a {
    display: block;
    text-align: center;
    padding: 16px 12px;
    text-decoration: none;
    color: #BDBDBD;
    font-family: 'Gruppo', cursive;
}

.header li a:hover {
    color: #F5F5F5;
}

.container1 {
    margin: 5% 18%;
}

.video {
    margin: 5% auto;
    text-align: center;
}

.description h2 {
    margin-top: 0;
}

.description p {
    padding: 0 2%;
}

.pictures {
    margin: 5% 0 10%;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

.img {}

.img img {
    width: 100%;
    height: auto;
    opacity: 0.6;
    transition: 0.5s;
}

.img img:hover {
    opacity: 1;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.close img {
    width: 24px;
    height: 24px;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.specifications-content {
    padding: 0 2%;
}

.footer {
    background-color: transparent;
    margin: 12% 0 8%;
    text-align: center;
}

.footer li {
    display: inline-block;
}

.footer li a {
    padding: 0 5px;
}

.footer li a img {
    width: 28px;
    height: 28px;
}
